html {
    font-family:
        system-ui,
        -apple-system,
        Roboto;
    font-size: 14px;
}

:root {
    a {
        text-decoration: none;
        color: var(--sys-color-text-base);
    }
    a:hover {
        --sys-color-text-base: var(--sys-color-primary);
    }

    .material-symbols {
        font-variation-settings:
            "FILL" 0,
            "wght" 400,
            "GRAD" 0;
        font-size: 1em;
        line-height: 1;
        vertical-align: middle;
        display: inline-flex;
        height: 1em;
        width: 1em;
        align-items: center;
        justify-content: center;
    }
    .typo-control {
        font-size: var(--sys-typo-control-font-size);
        line-height: var(--sys-typo-control-line-height);
        letter-spacing: var(--sys-typo-control-letter-spacing);
    }

    .spacing-xs {
        --spacing: var(--sys-spacing-xs);
    }
    .spacing-sm {
        --spacing: var(--sys-spacing-sm);
    }

    .flex-col {
        display: flex;
        flex-direction: column;
        gap: var(--spacing);
    }
    .flex-row {
        display: flex;
        flex-direction: row;
        gap: var(--spacing);
    }
}

@media (max-width: 768px) {
    :root {
        font-size: 16px;
    }
}

@media (max-width: 374px) {
    :root {
        font-size: 17px;
    }
}
