:root {
    a {
        text-decoration: none;
    }
    a:hover {
        color: var(--sys-color-primary);
    }
}

@media (max-width: 768px) {
    :root {
        font-size: 17px;
    }
}

@media (max-width: 374px) {
    :root {
        font-size: 18px;
    }
}
