html {
    font-family:
        system-ui,
        -apple-system,
        Roboto;
    font-size: 14px;

    @media (max-width: 375px) {
        font-size: 13px;
    }

    @media (min-width: 768px) {
        font-size: 15px;
    }
}

body {
    margin: 0;
    background-color: var(--sys-color-surface);
    color: var(--sys-color-text-base);
}

a {
    --comp-color-link: inherit;
    --comp-color-link-hover: var(--sys-color-primary);

    color: var(--comp-color-link);
    text-decoration: none;

    &:hover {
        color: var(--comp-color-link-hover);
    }
}

:root {
    .material-symbols {
        font-variation-settings:
            "FILL" 0,
            "wght" 400,
            "GRAD" 0;
        font-size: 1em;
        line-height: 1;
        vertical-align: middle;
        display: inline-flex;
        height: 1em;
        width: 1em;
        align-items: center;
        justify-content: center;
    }
}

.typo-control {
    font-size: var(--sys-typo-control-font-size);
    line-height: var(--sys-typo-control-line-height);
    letter-spacing: var(--sys-typo-control-letter-spacing);
}

.flex-col {
    display: flex;
    flex-direction: column;
    gap: var(--spacing);
}
.flex-row {
    display: flex;
    flex-direction: row;
    gap: var(--spacing);
}

.items-center {
    align-items: center;
}

.button-icon {
    background: none;
    border: none;
    cursor: pointer;
    padding: 0.4em;
    font-size: var(--sys-typo-control-font-size);
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--sys-color-text-base);

    &:hover {
        background-color: var(--sys-color-container);
    }
}
