/* Token System */

:root {
    /* Color Token */
    --sys-color-primary: var(--sys-color-primary-base);
    --sys-color-primary-base: #2f65f7;
    --sys-color-primary-lighter: #4a86f7;
    --sys-color-primary-darker: #2a4ec6;
    --sys-color-primary-inverse: #fafafa;
    --sys-color-tertiary: #f7bf2f;
    --sys-color-surface: #ffffff;
    --sys-color-container: #efefef;
    --sys-color-container-high: #ffffff;
    --sys-color-red: #ff4d4f;
    --sys-color-text: var(--sys-color-text-base);
    --sys-color-text-on-primary: #fafafa;
    --sys-color-text-base: #18181a;
    --sys-color-text-muted: #6c717f;
    --sys-color-text-subtle: #6f6f6f;
    --sys-color-border-primary: #1f65ff;
    --sys-color-border-base: #b9b9b9;
    --sys-color-border-muted: #e0e0e0;

    /* Typography Token */
    --sys-typo-caption-font-size: 0.875rem;
    --sys-typo-caption-line-height: 1.2;
    --sys-typo-caption-letter-spacing: 0.01em;
    --sys-typo-control-font-size: 1rem;
    --sys-typo-control-line-height: 1.2;
    --sys-typo-control-letter-spacing: 0.01em;
    --sys-typo-base-font-size: 1.2rem;
    --sys-typo-base-line-height: 1.2;
    --sys-typo-base-letter-spacing: 0.01em;

    /* Spacing Token */
    --sys-spacing-xs: 0.25em;
    --sys-spacing-sm: 0.5em;
    --sys-spacing-md: 1em;
    --sys-spacing-lg: 2em;

    .spacing-xs {
        --spacing: var(--sys-spacing-xs);
    }
    .spacing-sm {
        --spacing: var(--sys-spacing-sm);
    }

    /* Breakpoint Token */
    /* 没法在 media query 中使用，仅做记录 */
    --sys-breakpoint-mobile: 375px;
    --sys-breakpoint-tablet: 720px;
}

@media (prefers-color-scheme: dark) {
    :root {
        --sys-color-surface: #18181a;
        --sys-color-text-base: #ffffff;
        --sys-color-text-muted: #6c717f;
        --sys-color-text-subtle: #afafaf;
        --sys-color-border-primary: #1f65ff;
        --sys-color-border-muted: #e0e0e0;

        --sys-color-container: #6f6f6f;
    }
}
