body {
    height: 100vh;
    display: flex;
    flex-direction: column;

    #page-background {
        position: fixed;
        top: 0;
        left: 0;
        z-index: -1;
        width: 100vw;
        height: 14vh;
        background: linear-gradient(var(--sys-color-primary) 20%, transparent);
    }
}

header {
    margin: 0 1rem;

    h1 {
        font-size: 2.4rem;
        font-weight: 300;
        margin: 1rem 0 2rem 0;
        color: var(--sys-color-text-on-primary);
    }
}

main {
    margin: 0 1rem;

    display: flex;
    flex-direction: column;
    flex-grow: 1;
    overflow-y: hidden;

    #articles {
        display: flex;
        flex-direction: column;
        flex-grow: 1;
        overflow-y: hidden;

        #navigator {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            border-bottom: 1px solid var(--sys-color-border-base);

            h2 {
                font-size: 1.8rem;
                font-weight: 450;
                margin: 0;
            }

            button {
                background: none;
                border: none;
                cursor: pointer;
                padding: 0.4rem;
            }
            button:hover {
                background-color: var(--sys-color-container);
            }
        }

        [hidden] {
            display: none !important;
        }

        .article-list {
            display: flex;
            flex-direction: column;
            gap: var(--sys-spacing-md);
            margin: var(--sys-spacing-md) 0 0 0;
            padding: 0;
            list-style: none;
            overflow-y: scroll;
            flex-grow: 1;

            article a {
                display: flex;
                flex-direction: column;
                gap: 0.2rem;
                padding-bottom: var(--sys-spacing-xs);

                h3 {
                    font-size: 1.8rem;
                    font-weight: 450;
                    margin: 0;
                }
                p {
                    font-size: var(--sys-typo-base-font-size);
                    line-height: var(--sys-typo-base-line-height);
                    letter-spacing: var(--sys-typo-base-letter-spacing);
                    color: var(--sys-color-text-subtle);
                    margin: 0;
                }

                time {
                    font-size: var(--sys-typo-caption-font-size);
                    line-height: var(--sys-typo-caption-line-height);
                    letter-spacing: var(--sys-typo-caption-letter-spacing);
                }
            }
        }
    }
}

footer {
    padding: var(--sys-spacing-xs) var(--sys-spacing-sm);
    background-color: var(--sys-color-primary-lighter);
    color: var(--sys-color-text-on-primary);

    --comp-color-link: var(--sys-color-text-on-primary);

    #social-links {
        display: flex;
        flex-direction: row;
        gap: var(--sys-spacing-sm);
    }
}
