body {
    height: 100vh;
    display: flex;
    flex-direction: column;

    #page-background {
        position: fixed;
        top: 0;
        left: 0;
        z-index: -1;
        width: 100vw;
        height: 14vh;
        background: linear-gradient(var(--sys-color-primary) 20%, transparent);
    }
}

header {
    margin: 0 1em;

    h1 {
        font-size: 2.4rem;
        font-weight: 300;
        margin: 1rem 0 2rem 0;
        color: var(--sys-color-text-on-primary);

        @media (max-width: 768px) {
            margin: 0.5rem 0 1rem 0;
        }
    }
}

main {
    margin: 0 var(--sys-spacing-md);

    display: flex;
    flex-direction: column;
    flex-grow: 1;
    overflow-y: hidden;

    #articles {
        display: flex;
        flex-direction: column;
        flex-grow: 1;
        overflow-y: hidden;

        #navigator {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            border-bottom: 1px solid var(--sys-color-border-base);

            h2 {
                font-size: 2rem;
                font-weight: 400;
                margin: 0;

                @media (max-width: 375px) {
                    font-size: 1.7rem;
                    line-height: 1.6;
                }
            }
        }

        [hidden] {
            display: none !important;
        }

        .article-list {
            display: flex;
            flex-direction: column;
            gap: var(--sys-spacing-md);
            margin: var(--sys-spacing-md) 0 0 0;
            padding: 0;
            list-style: none;
            overflow-y: scroll;
            flex-grow: 1;

            scrollbar-width: thin;
            scrollbar-color: var(--sys-color-container) transparent;
            &:-webkit-scrollbar-thumb {
                background: var(--sys-color-container);
                border-radius: 999px;
            }
            &:-webkit-scrollbar-track {
                background: transparent;
            }

            article a {
                display: flex;
                flex-direction: column;
                gap: 0.2rem;
                padding-bottom: var(--sys-spacing-xs);

                h3 {
                    font-size: 1.8rem;
                    font-weight: 450;
                    line-height: 1.1;
                    margin: 0;

                    @media (max-width: 375px) {
                        font-size: 1.4rem;
                        line-height: 1.2;
                    }
                }

                time {
                    font-size: var(--sys-typo-caption-font-size);
                    line-height: var(--sys-typo-caption-line-height);
                    letter-spacing: var(--sys-typo-caption-letter-spacing);
                }

                p {
                    margin: var(--sys-spacing-xs) 0 0;
                    font-size: var(--sys-typo-base-font-size);
                    line-height: var(--sys-typo-base-line-height);
                    letter-spacing: var(--sys-typo-base-letter-spacing);
                    color: var(--sys-color-text-subtle);
                }
            }
        }
    }
}

footer {
    padding: var(--sys-spacing-xs) var(--sys-spacing-md) var(--sys-spacing-xs)
        var(--sys-spacing-sm);
    background-color: var(--sys-color-primary-lighter);
    color: var(--sys-color-text-on-primary);
    display: flex;
    justify-content: space-between;
    align-items: center;

    @media (max-width: 768px) {
        padding: var(--sys-spacing-sm) var(--sys-spacing-md);
    }

    #social-links {
        display: flex;
        gap: var(--sys-spacing-sm);

        @media (max-width: 375px) {
            gap: var(--sys-spacing-md);
        }
    }

    #pages {
        display: flex;
        gap: var(--sys-spacing-sm);

        @media (max-width: 375px) {
            gap: var(--sys-spacing-md);
        }
    }

    a {
        --comp-color-link: var(--sys-color-text-on-primary);
        --comp-color-link-hover: var(--sys-color-text-base);
    }
}
